@use "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap");

body {
	margin: 0;
	background-color: variables.$color-black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom;
	background-size: contain;
	background-image: url("./assets/background.jpeg");
	font-family: "Zen Kaku Gothic Antique", sans-serif;
	color: variables.$color-white;
}
