$very-small-font-size: 12px;
$small-font-size: 14px;
$big-font-size: 18px;

$color-black: #000000;
$color-white: #ffffff;
$color-main: #0d1013;
$color-primary: #5f5b44;
$color-secondary: #d6883b;
$color-transparent-brown: rgb(18, 8, 9, 0.6);
